@using Surf_Boards.Areas.Identity.Data;

@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model Surf_Boards.Models.Domain.Rental

@{
	ViewData["Title"] = "Create Rental";
}

<h1>Create</h1>

<div class="form-group">
	  <form asp-action="Create">
	<input type="hidden" asp-for="RentalId" />
	<input type="hidden" asp-for="User.Id" />
	<label asp-for="RentalDate" class="control-label"></label>
	<div class="input-group date" id="datepicker">
		<input asp-for="RentalDate" type="text" class="form-control" value="@DateTime.Now.ToString("DD-MM-YYYY")" />
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-calendar"> </span>
		</span>
	</div>
	<span asp-validation-for="RentalDate" class="text-danger"></span>

	<div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>

</form>
</div>


<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
	
	@* TODO;
		Fetch dates that the board is already rented, and disable those in the picker
		https://getdatepicker.com/4/#enableddisabled-dates
	*@
	<script>
		$(function () {
			$('#datepicker').datetimepicker({
				format: 'DD-MM-YYYY',
				disabledDates: [
                     moment("12/24/2022"),
                 ]
			});

		});
	</script>
}